@media (max-width: 1000px) {
  .common-btn {
    padding: 8px 12px;
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .logo-slider-container {
    top: -52px;
    width: 220px;
  }
  .logo-item {
    width: 40px;
    height: 40px;
  }
}
